# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
dermora-dinov2-vit-b-skin.pth
# Production builds
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android
android/app/build/
android/app/release/
android/app/debug/
android/.gradle/
android/build/
android/local.properties
android/.cxx/
android/captures/
*.apk
*.aab
*.ap_
*.dex

# iOS
ios/App/build/
ios/App/Pods/
ios/App/*.xcworkspace
ios/App/xcuserdata/
ios/App/DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Capacitor
.capacitor/
android/capacitor-cordova-android-plugins/
ios/capacitor-cordova-ios-plugins/

# OS
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
*.log
*.cache
.npm
.eslintcache
.stylelintcache
venv/
.env
__pycache__/
*.pyc
.kiro
.vscode
best_dino_base_518.pth
dataset/
best_dino_finetuned.pth
best_dino_with_normal.pth
package-lock.json
add_hashed_password.py