# OS Files
.DS_Store
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Python/Backend Virtualenv
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Backend Secrets
backend/.env

# AI Models and Datasets
dataset/
*.pth
best_dino_base_518.pth
best_dino_finetuned.pth
best_dino_with_normal.pth
dermora-dinov2-vit-b-skin.pth

# Editor Configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
*.log
*.cache
.npm
.eslintcache
.stylelintcache
add_hashed_password.py
commands.txt
tunnel-id.md